.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  padding: 0.5em 1.5em;
  color: #333;
  box-shadow: 0 0 6px rgba(8, 9, 10, 0.2);
  font-size: 1.6em;
}

.App-header a {
  text-decoration: none;
  color: #444;
}

.App-title {
  font-size: 1.3em;
  margin: 0;
  font-weight: bold;
  display: inline-block;
}

.App-title span {
  color: red;
}
.App-intro {
  font-size: large;
}

.Login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.Login-box .Login-container {
  border: 1px solid #dedede; 
  width: 40%;
  height: auto;
  align-self: center;
}

.Login-box .Header-bar {
  border-bottom: 1px solid #dedede;
  padding: 1em;
  color: #616161;
  font-weight: 400;
  font-size: 1.4em;
}

.Login-box .Form-box {
  padding: 1.4em;
  border-bottom: 1px solid #dedede;
}

.Login-box .Form-box .title {
  font-size: 1em;
  color: #777;
  margin-bottom: 1em;
}

.Login-box .Form-box .Radio-row {
  display: block;
  margin-bottom: 1em;
}

.Login-box .Form-box .Radio-row label {
  cursor: pointer;
  color: #666;
  font-size: 1em;
  font-weight: 400;
}

.Login-box .Form-box .Radio-row label input[type="radio"] {
  margin-right: 1em;
}

.Login-box .Login-footer {
  padding: 1em;
  background: #fafafa;
}

.Login-box .Login-footer .Login-text {
  display: flex;
}
.Login-box .Login-footer .Login-text span {
  flex: 1;
  align-self: center;
  color: #777;
}

.Login-box .Login-footer .Login-text .Button-container {
}

.Primary-btn {
  background: #4990e2;
  border: 1px solid #4990e2;
  color: #fff;
  outline: none;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  font-weight: 300;
  cursor: pointer;
}

.Error-msg {
  color: #ff9494;
}

.Active-stundent {
  display: block;
  margin: 1em 0;
}

.Secondary-btn {
  background: #fafafa;
  border: 1px solid #4990e2;
  color: #4990e2;
  outline: none;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  font-weight: 300;
  cursor: pointer;
}

.mar-1 {
  margin-right: 1em;
}

.Main-question-list {
  max-width: 960px;
  margin: 2em auto;
}

.Main-question-list .title {
  font-size: 1.4em;
  color: #777;
  margin-bottom: 1em;
}

.Main-question-list .Header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin-bottom: 1em;
}

.Main-question-list .Header-bar .selection-box {
  background: #fff;
  color:  #ccc; 
  padding: 1.5em;
  border-right: 1px solid #dedede;
}

.Main-question-list .Header-bar .selection-box label {
  cursor: pointer;
}

.Main-question-list .Header-bar .selection-box label input[type="checkbox"] {
  margin-right: 0.5em;
}
.Main-question-list .Header-bar .assign-box {
  display: flex;
  flex: 1;
  padding: 1em;
  background: #fafafa;
  padding-left: 1em; 
}

.Main-question-list .Header-bar .assign-box .assign-text {
  flex: 1;
  align-self: center; 
  color: #777;  
  display: flex;
}

.Main-question-list .Header-bar .assign-box .assign-text .text-title {
  align-self: center;
}

.Main-question-list .Header-bar .assign-box .assign-text .Student-drop {
  flex: 1;
  margin-right: 1em;
  text-align: right;
}

.Main-question-list .Header-bar .assign-box .assign-text .Student-drop select {
  height: 3em;
}



.Main-question-list .Selection-rows {
  display: flex;
  margin-bottom: 1em;
}

.Main-question-list .Selection-rows .selection-check {
  padding: 1.6em;
  align-self: center;
}

.Main-question-list .Selection-rows .course-info-bar {
  flex: 1;
  display: flex;
  border: 1px solid #dedede;
  border-radius: 4px;
  background: #fff;
}

.Main-question-list .Selection-rows .course-info-bar .question-col {
  flex: 10;
  align-self: center;
  padding-left: 1em;
}

.Main-question-list .Selection-rows .course-info-bar .serial-col {
  align-self: center;
  padding: 1.6em;
  text-align: center;
  color: #777;
  background: #f3f3f3;
}

.Main-question-list .Selection-rows .course-info-bar .serial-col .title {
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0;
}

.Main-question-list .Selection-rows .course-info-bar .question-col  .title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1em;
  color: #333;
}

.Main-question-list .Selection-rows .course-info-bar .question-col .sub-title {
  font-size: 0.9em;
  color: #777;
}
.font-16 {
  font-size: 1.6em;
} 
.Main-question-list .Selection-rows .course-info-bar .question-type-col {
  flex: 2;
  align-self: center;
  background: #fafafa;
  padding: 1.9em;
}

.Main-question-list .Selection-rows .course-info-bar .question-type-col .title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1em;
  color: #333;
}

.Main-question-list .Selection-rows .course-info-bar .question-type-col .sub-title {
  font-size: 0.9em;
  color: #777;
}

.Question-builder {
  max-width: 960px;
  margin: 2em auto;
}

.Question-builder .title {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 1em;
  font-weight: 500;
}

.Question-builder .sub-title {
  font-size: 1.1em;
  color: #777;
  margin-bottom: 1em;
}

.Question-builder .radio-group {
  display: block;
}

.Question-builder .radio-group .radio-row {
  margin-bottom: 0.5em;
}

.Question-builder .radio-group .radio-row label input[type="radio"] {
  margin-right: 0.5em;
}

.Main-question-box {

}

.Main-question-box .Question-box {
  max-width: 960px;
  margin: 2em auto;
  min-height: 70vh;
}

.Main-question-box .Question-box .Page-title {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 1em;
}

.Main-question-box .Question-box .Question-title {
  font-size: 1em;
  color: #777;
  margin-bottom: 0.5em;
}

.Main-question-box .Question-box .input-holder {
  display: flex;
  margin-bottom: 2em;
}

.Main-question-box .Question-box .MCQ-Creater {
  display: flex;
}

.Main-question-box .Question-box .MCQ-Creater .mcq-title {
  font-size: 1em;
  color: #777;
  margin-bottom: 0.5em;
  display: inline-block;
}

.input-check-holder {
  margin-bottom: 2em;
  clear: both;
}

.input-check-holder input[type="text"] {
  height: 3em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #dedede;
  background: #f5f4f4;
  text-indent: 1em; 
  width: 87%;
}

.input-check-holder input[type="checkbox"] {
  align-self: center;
  float: right;
  margin-bottom: 1em;
  margin-right: 3em;
  margin-top: 0.7em;
  height: 2em;
  width: 2em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}
.Main-question-box .Question-box .MCQ-Creater .MCQ-options {
  flex: 8;
}

.Main-question-box .Question-box .MCQ-Creater  .MCQ-Answers {
  flex: 1;
}

.Main-question-box .Question-box .MCQ-Creater  .MCQ-Answers .ans-title {
  font-size: 1em;
  color: #777;
  margin-bottom: 0.5em;
  text-align: center;
}

.Main-question-box .Question-box .input-holder input[type="text"] {
  flex: 1;
  height: 3em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #dedede;
  background: #f5f4f4;
  text-indent: 1em;
}

.Main-question-box  .Question-footer {
  background: #f5f4f4;
  border-top: 1px solid #dedede;
  padding: 2em 0;
}

.Main-question-box  .Question-footer .Footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

.Main-question-box  .Question-footer .Footer-container .footer-text {
  flex: 1;
  align-self: center;
  font-size: 0.8em;
  color: #777;
}

.Student-list {
  max-width: 960px;
  margin: 2em auto;
}

.Student-list .Page-title {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 1em;
}

.Student-list .sub-title {
  font-size: 1em;
  color: #777;
  margin-bottom: 1em;
}

.Student-list .list-container {

}

.Student-list .list-container ul.student-list {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
}

.Student-list .list-container ul.student-list li {
  margin-bottom: 1em; 
  cursor: pointer;
  color: #03a9f4;
}

.Assigned-Questions-list {
  display: block;
  max-width: 960px;
  margin: 2em auto;
}

.Assigned-Questions-list .Page-title {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 1em;
}

@media (max-width: 960px) {
    .Login-box .Login-container {
      border: 1px solid #dedede; 
      width: 60%;
      height: auto;
      align-self: center;
    }
}

@media (max-width: 720px) {
  .Login-box .Login-container {
    border: 1px solid #dedede; 
    width: 80%;
    height: auto;
    align-self: center;
  }
}

@media (max-width: 360px) {
  .Login-box .Login-container {
    border: 1px solid #dedede; 
    width: 100%;
    height: auto;
    align-self: center;
    margin: 1em;
  }
}